#locationPage {
    background-image: linear-gradient(to top, #ffe7e7, #ffc0c4, #ff97a5, #ff698b, #ff2474);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

body {
    background-color: #94232d;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

.container {
    padding: 0;
}

#maindisplay {
    background: gray;
}

#logo {
    color: White;
    font-size: 40px;
}

#navigation {
    display: flex;
    padding: 0;
    width: 50%;
    height: 20px;
}

#navigation li {
    list-style: none;
    margin-left: 35px;
    font-size: 14px;
    font-weight: bold;
}

#navigation li:first-child {
    margin-left: 0;
}

#latest-sightings thead {
    color: rgb(248, 241, 141);
}

#latest-sightings tbody tr {
    color: rgb(224, 248, 185);
}

#navigation a {
    color: #00C2FF;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#navigation a:hover {
    color: rgba(0, 195, 255, 0.774);
    transition: 0.3s;
}

#navigation a.active {
    color: rgb(248, 211, 62) !important;
}

.section-header {
    color: white;
    letter-spacing: 1px;
    text-align: right;
}

.info-text {
    color: aliceblue;
    text-align: center;
}

#general-info {
    background: rgba(0, 0, 0, 0.342);
    padding-bottom: 15px;
}

#toggleMap {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
}

.carousel-inner>.item img {
    height: 350px;
    width: 100%;
    margin: 0 auto;
}

#sightingButtons {
    text-align: center;
    padding: 25px;
}

#sortingFilterMenu {
    background: rgba(126, 126, 126, 0.1);
    text-align: center;
    width: 75%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    height: 350px;
}

.filter-head {
    color: rgb(248, 211, 62);
}

#heroForm,
#organizationWindow {
    background: #94232c10;
    text-align: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 15px;
    min-height: 500px;
}

#locationTab {
    background: rgb(236, 233, 233);
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 4px;
    padding: 5px 10px;
}

#organizationWindow {
    height: 450px;
}

.myLabel {
    color: black !important;
}

#characterForm,
#organizationForm,
#createHeroForm {
    border-left: 3px solid white;
    height: 450px;
    text-align: left;
    position: relative;
}

#myOrganizations, #mySuperPowers {
    max-height: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}




#characterImg img {
    width: 100%;
    border: 1px solid blue;
}

#locationsMap {
    height: 300px;
}

#locationTable {
    height: 200px;
    overflow-y: hidden;
}

#characterImg button {
    margin-top: 15px;
    font-size: 12px;
    border-radius: 50px;
}

.dropdown-toggle {
    width: 200px;
    margin-top: 20px;
}

#characterSortBtn {
    margin-top: 5px;
}

#vs {
    border: 3px solid rgba(48, 2, 2, 0.568);
    box-shadow: 2px 3px 000;
}

footer {
    background: rgb(129, 33, 33);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 5px 25px;
    display: flex;
    color: white;
    justify-content: space-between;
}

footer a,
footer a:hover {
    color: gold;
}

h4.formHead {
    text-align: right;
    color: white;
    text-transform: capitalize;
}

.displayForm {
    padding: 5px;
}

.displayForm label {
    color: rgb(224, 248, 185); 
    padding: 10px;
}

form label {
    margin: 0 !important;
}

.formInput {
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
    width: 100%;
    color: rgb(248, 211, 62);
    background: rgba(0, 0, 0, 0.40) !important;
    border: 0.5px solid rgba(0, 0, 0, 0.774);
    font-size: 1.1em;
    font-style: italic;
}

input[type=text]:focus {
    border-color: rgb(248, 211, 62);
    outline-width: 0;
}

.formInput::placeholder {
    color: rgb(250, 236, 236);
}

#organizationsDisplay,
#superPowerDisplay {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.40) !important;
    border: 0.5px solid rgba(0, 0, 0, 0.774);
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    max-height: 100px; 
}

.modalSelect > a {
    color: rgb(240, 228, 228);
}

.modalSelect > a:hover {
    color: rgb(173, 173, 173);
    text-decoration: none;
}

.formDropDown {
    margin-bottom: 10px;
}

.dropdown-menu {
    width: 200px;
    background: seashell;
    color: blueviolet;
}

.creationSightingBtn {
    margin: 0;
}

.step {
    text-align: center;
    height: 400px;
    border-left: 0.5px solid rgba(211, 211, 211, 0.459);
}

.validation {
    border-left: 0.5px solid lightgrey;
}

.minimap img {
    width: 100%;
}

.mugshot {
    width: 40px;
}

.map {
    width: 100%;
    height: 400px;
    background: papayawhip;
}

.displaySighting img {
    width: 100px;
    margin: 0 auto;
}

.displaySighting {
    position: relative;
}

.scrollable thead,
.scrollable tbody,
.scrollable tr,
.scrollable td,
.scrollable th {
    display: block;
}

.scrollable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scrollable thead th {
    height: 35px;
    letter-spacing: 1px;
}

tbody {
    height: 370px;
    overflow-y: auto;
}

#sightingsTable,
.mytable {
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}

#sightingsTable thead,
.mytable thead {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(252, 242, 109);
}

#sightingsTable tbody tr,
.mytable tbody tr {
    border-left: rgba(0, 0, 0, 0.5) 1px solid;
    background: rgba(0, 0, 0, 0.10);
    color: rgb(224, 248, 185);
}

#sightingsTable tbody tr:hover,
.mytable tbody tr:hover {
    background: rgba(0, 0, 0, 0.25);
    color: rgb(217, 252, 160);
}

.filter {
    width: 175px;
}

.table-name {
    color: white;
}

.scrollable>#sightingsTable tbody td,
.scrollable>#sightingsTable thead th {
    width: 16.66%;
    float: left;
}

.scrollable>.displayTable tbody td,
.scrollable>.displayTable thead th {
    width: 25%;
    float: left;
}

.pill {
    display: flex;
    padding: 0;
    border: 1px solid rgb(248, 211, 62);
    border-radius: 50px;
    margin: 5px;
    height: 25px;
    overflow: hidden;
    color:rgb(248, 211, 62);
}

.pill:hover {
    border-color: rgb(194, 6, 6);
}

.closePill {
    background: rgb(248, 211, 62);
    text-align: center;
    display: inline;
    color: black;
    width: 25%;
    padding: 5px 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.closePill:hover {
    cursor: pointer;
    color: rgb(248, 211, 62);
    background: rgb(194, 6, 6);
}

.pillData {
    background: rgba(0, 0, 0, 0.308);
    text-align: center;
    display: inline;
    width: 75%;
    padding: 5px 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#newHero {
    margin-top: 10px;
}

table tbody>tr:hover {
    background: rgba(0, 0, 0, 0.459);
    cursor: pointer;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn {
    border-radius: 0 !important;
    color: #000;
}

.inputfile+label {
    font-size: 1em;
    font-weight: 700;
    color: brown;
    border: 1px solid brown;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.viewImage {
    height: 200px !important;
    border: 3px solid gold;
}

.creatingImage {
    height: 120px !important;
}

ul.displayDetails {
    margin-top: 30px;
}

.viewButtons {
    width: 150px;
}

ul.displayDetails li {
    display: block;
    list-style-type: none;
    margin: 5px;
}

ul li .heading {
    font-weight: normal;
    width: 100px;
    font-size: 16px;
    color: rgb(224, 248, 185);
    border-bottom: 2px solid rgb(248, 211, 62);
}

ul li .information {
    font-weight: bold;
    width: 100px;
    font-size: 13px;
    color: white;
    font-style: italic;
}

#fans {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.082);
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

#fans div {
    width: 40%;
    text-align: center;
    background: rgba(0, 0, 0, 0.493);
    padding: 10px;
}

#fans p {
    color: white;
}

#fans .far{
    font-size: 40px;
    color: rgb(129, 155, 13);
}

.displayList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}


#viewTable td {
    border: none !important;
} 

#viewTable tr:hover {
    background: transparent;
} 


.displayList2 {
    list-style: none;
    padding: 0;
    font-weight: bold;
}

.modal {
    text-align: justify;
}

.modal-body ul {
    font-weight: bold;
    list-style-type: none;
}

.modal-body {
    min-height: 200px;
    max-height: 400px;
    padding: 10px;
    overflow-y: auto;
}

.modal-footer {
    display: block;
}

#viewDetails { 
    margin: 0 auto;
    background: #00000038;
    min-height: 300px;
    padding: 10px;
   
}

.displayList li a {
    /* width: 150px; */
    border-radius: none;
}

#displayDetails {
    overflow-y: hidden;
    height: 200px;
}

#displayDetails.hideDetails {
    animation: 1s hideDetails ease-in-out forwards;
}

#displayDetails.showDetails {
    animation: 2s showDetails ease-in-out forwards;
}

/* .showDetails {
    animation: 1s showDetails;
}

.hideDetails {
    animation: 1s hideDetails ease-out forwards;
} */

@keyframes showDetails {
    0% {
        opacity: 0;
        max-height: 0;
    }
    40% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        max-height: 200px;
        transform: rotateY(360deg);
    }
}

@keyframes hideDetails {
    0% {
        max-height: 200px;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        max-height: 0;
    }
}

.locationModal {
    font-size: 12px;
}

.character-type {
    height: 150px;
    overflow-y: auto;
}

.step-head {
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

.step-head h4,
.step-head i {
    padding: 0;
    margin: 5px;
}

.step-head i {
    color: red;
}

i.passed,
i.passed {
    color: green;
}

.selected {
    background: #068b2e;
    border: 1px solid green;
}

.list {
    flex: 0 80%;
    list-style: none;
}

.list__item {
    position: relative;
}

.list__item:hover label {
    color: rgb(248, 211, 62);
}

.list__item:hover .label::before {
    border: 7px solid rgb(248, 211, 62);
    margin-right: 20px;
}

.radio-btn {
    position: absolute;
    visibility: hidden;
}

.radio-btn:checked~.label {
    color: rgb(248, 211, 62);
}

.radio-btn:checked~.label::before {
    margin-right: 20px;
    border: 7px solid rgb(248, 211, 62);
    background: rgb(0, 0, 0);
}

.label {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
    color: #F8F7FF;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s linear;
}

.label::before {
    display: block;
    content: '';
    border: 7px solid #F8F7FF;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin-right: 10px;
    transition: all .25s linear;
}

#myButton>button {
    margin-bottom: 5px;
    background: cornflowerblue;
}

#mySection {
    min-height: 50px;
    border-top: 3px solid white;
}

.myInstructions {
    border-top: 3px solid white !important;
    color: #F8F7FF;
}

.myInstructions h4 {
    color: rgb(248, 211, 62);
}

.myInstructions i {
    color: rgb(182, 147, 7);
}

.myInstructions>ul {
    list-style: none;
    padding: 0;
    text-align: left;
}